/*---------------------*/
/* Basic Setup */
/*---------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #dbe1f0;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {
    zoom: 1
}

.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

fieldset legend {
    position: absolute;
    left: -5000px;
}

fieldset {
    border: 0;
    padding: 0;
    margin-left: 0px;
}

section {
  padding-left: 1em;
}

button {
  margin: 10px 0px 0px 10px;
  style: none;
  font-size: 80%;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  background-color: #5b7abe;
  border: none;
}

ul {
  list-style: none;
  padding-left: 1em;
}
